<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Google sign in integration with AngularJs</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="js/angular-cookies.js"></script>

<link rel="stylesheet" href="js/stylesheet.css">

<script type="text/javascript" src="js/Application.js">
</script>

 <script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="886006762408-gl6im0thkpbtli4b35o1p86vbvn8jrps.apps.googleusercontent.com"> 
</head>
<body ng-app="Application">
	<div ng-controller="GoogleLogin">
		<h1>Welcome to your Webpage</h1>
		<div class="g-signin2" data-onsuccess="onSignIn" ></div> 
		<div class="btn btn-default" ng-click="signOut1()">Logout</div>
		<button class="btn btn-primary" ng-click="save()">CAllwebservice and send token </div>"Correct the url in application.js"
	</div>
	<div ng-view></div>
</body>
</html>